body {
    margin: 0;
    background-color: white;
}

html::-webkit-scrollbar {
    display: visible;
    }
header {
    background-color: #f4ede7;
    color: #202020;
    padding: 30px 0;
    font-family: 'Avenir', sans-serif;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0 30px;
}

.project-name {
    font-size: 30px;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    color: #202020;
}

.navigation ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navigation li {
    margin-left: 20px;
}

.navigation a {
    color: #202020;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s;
}

.navigation a:hover {
    color: #474747;
}

.slider {
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 113.7%; /* Ajustez la hauteur de la diapositive */
    transition: opacity 0.5s ease;
}

.slider::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(159, 139, 121, 0); /* Initial state is fully transparent */
    transition: background 0.5s ease; /* Transition for background color */
    pointer-events: none; /* Allows clicks to pass through */
}

.slides {
    display: flex;
    transition: transform 1s ease-in-out;
}

.slide {
    min-width: 100%;
    transition: transform 0.5s ease;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.rectangle {
    width: 700px; /* Ajustez la largeur selon vos besoins */
    height: auto; /* Ajustez la hauteur selon vos besoins */
    background-color: #f4ede7; /* Couleur de fond noire */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Ombre autour */
    border-radius: 90px; /* Arrondi des coins */
    margin: auto; /* Centre la div horizontalement */
    margin-top: 150px;
    position: relative; /* Position relative pour positionner les éléments enfants */
    padding-bottom: 50px;
}

.ligne {
    display: flex; /* Affiche les éléments en ligne */
    align-items: center; /* Centre les éléments verticalement */
    justify-content: center; /* Centre les éléments horizontalement */
    position: relative; /* Position relative pour que les éléments enfants soient positionnés par rapport à elle */
    width: 100%; /* Assure que la ligne occupe toute la largeur du rectangle */
    height: 100%; /* Assure que la ligne occupe toute la hauteur du rectangle */
}

.cercle {
    width: 130px; /* Diamètre du cercle */
    height: 130px; /* Diamètre du cercle */
    background-color: transparent; /* Couleur de fond blanche */
    border-radius: 50%; /* Transforme en cercle */
    position: relative; /* Fixe la position du cercle */
    top: 0%; /* Position verticale au centre */    
    margin-bottom: 60px;
    transform: translateY(-45%) translateX(30%); /* Centre verticalement et horizontalement */
}

.cercle img {
    width: 100%; /* Ajuste la largeur de l'image pour qu'elle remplisse le cercle */
    height: auto; /* Ajuste la hauteur de l'image proportionnellement */
    display: block; /* Assure que l'image est affichée en tant que bloc */
    border-radius: 50%; /* Transforme l'image en cercle */
}


.texte-aleatoire {
    color: #202020; /* Couleur du texte */
    margin-top: 35px;
    position: relative; /* Fixe la position du texte */
    align-items: center;
    justify-content: center;
    text-align: center;
    top: 4%; /* Position verticale au centre */
    font-family: 'Avenir', sans-serif;
    font-weight: 500;
    font-size: 20px;
}

.ligne2 {
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 50px;
}

.presentation-text {
    position: relative; /* Position relative pour positionner le bouton à l'intérieur */
    overflow: hidden; /* Masque le contenu dépassant */
    max-height: 200px; /* Hauteur maximale initiale */
    transition: max-height 0.5s ease; /* Transition pour l'animation */
    color: #202020;
    font-size: 16px;
    margin-top: -20px;
    margin-left: 40px;
    margin-right: 40px;
    font-family: 'Avenir', sans-serif;
}

.presentation-text.expanded {
    max-height: none; /* Hauteur maximale illimitée pour afficher tout le texte */
}


.read-more-btn {
    color: #004efe; /* Couleur du texte du bouton */
    border: none; /* Supprime la bordure */
    cursor: pointer; /* Curseur pointer au survol */
    transition: background-color 0.3s; /* Transition pour un effet de survol */
    font-family: "Avenir", sans-serif;
    margin-left: 40px;
}



.typed-cursor {
    color: #004efe;
    margin-left: 1px;
}

.dynamic-text {
    color: #004efe;
    font-weight: 1000;
    display: inline-block;
}

.blue-line {
    width: 10%; /* Ajustez cette valeur selon vos besoins */
    height: 2px;
    background-color: #004efe;
    margin: -15px auto; /* Centre la ligne */
}

.social-icons {
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

.social-circle {
    width: 40px;
    height: 40px;
    border-radius: 0%;
    background-color: transparent;
    margin: 15px;
}

.social-circle img {
    width: 100%;
    height: 100%;
    border-radius: 0%;
    cursor: pointer;
}

.button-container {
    text-align: center; /* Centre les éléments horizontalement */
    font-family: "Avenir", sans-serif;
    font-size: 14px;
    font-weight: 500;
    margin-top: 40px;
    
}

.cv-button,
.contact-button {
    margin: 10px; /* Marge entre les boutons */
    padding: 10px 20px; /* Ajoute un peu de marge intérieure */
    background-color: #323232 ; /* Couleur de fond des boutons */
    color: #fff; /* Couleur du texte des boutons */
    border: none; /* Supprime la bordure des boutons */
    border-radius: 5px; /* Arrondi des coins des boutons */
    cursor: pointer; /* Change le curseur au survol */
    transition: background-color 0.3s; /* Transition pour un effet de survol */
    text-decoration: none;
}

.cv-button:hover,
.contact-button:hover {
    background-color: #000000 ; /* Couleur de fond des boutons au survol */
}

.mes-projets {
    margin-top: 180px;
    color: #202020;
    text-align: center; /* Aligne le texte au centre */
}


.bouton-container {
    margin-top: 90px;
    text-align: center; /* Pour centrer les boutons horizontalement */
    font-family: 'Avenir', sans-serif;
    font-weight: 500;
}

.bouton {
    display: inline-block; /* Pour les afficher en ligne */
    margin: 0 10px; /* Pour ajouter un espace entre les boutons */
    padding: 20px 80px; /* Ajustez la taille du padding selon vos besoins */
    background-color: #323232; /* Couleur de fond des boutons */
    color: #fff; /* Couleur du texte des boutons */
    text-decoration: none; /* Supprime le soulignement du lien */
    border: none; /* Supprime la bordure des boutons */
    border-radius: 15px; /* Arrondi des coins des boutons */
    transition: background-color 0.3s; /* Animation de transition */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Ombre autour */
    font-size: 25px;
    font-family: "Avenir", sans-serif;
    font-weight: 500;
}

.bouton:hover {
    background-color: #000000 ; /* Couleur de fond au survol */
}

.image-container {
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
}

.titre-mes-projets {
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
    font-weight: 700;
    margin-top: 420px;
}

.case-fond {
    position: relative;
    width: 500px; /* ajustez la largeur selon vos besoins */
    height: 263px; /* ajustez la hauteur selon vos besoins */
    margin: 30px;
    border-radius: 20px;
    overflow: hidden; /* Pour cacher tout contenu débordant */
}

.titre-jeu {
    bottom: 0px; /* Ajoute un espace supplémentaire entre les deux textes */
    width: 100%; /* prenne toute la largeur de .case-fond */
    padding: 20px; /* espacement à l'intérieur du titre */
    box-sizing: border-box; /* inclut le padding dans la largeur */
    text-align: center; /* centre le texte horizontalement */
    font-family: "Poppins", sans-serif !important;
    font-size: 20px;
    font-weight: 650 !important;
}

.colonnes-cases {
    margin-top: 100px;
    display: grid; /* Utilisation de la grille CSS */
    grid-template-columns: repeat(auto-fill, minmax(500px, 540px)); /* Colonnes flexibles */
    gap: 0px; /* Espacement entre les cases */
}

.cases {
    flex: 0 0 auto; /* Pour que les cases aient une largeur fixe et ne rétrécissent pas */
    margin: 0 0px 40px 140px !important; /* Ajoute de l'espacement vertical (40px) entre les cases */
    position: relative;
    width: 500px; /* Ajustez la largeur selon vos besoins */
    height: 263px; /* Ajustez la hauteur selon vos besoins */
}

.case-link {
    display: block; /* Assurez-vous que le lien est un bloc */
    width: 100%;
    height: 100%;
    text-decoration: none; /* Supprime le soulignement du lien */
}

.case-fond {
    position: relative;
    width: 100%; /* Assurez-vous que .case-fond prend toute la largeur du conteneur parent */
    height: 100%; /* Assurez-vous que .case-fond prend toute la hauteur du conteneur parent */
    border-radius: 20px;
    overflow: hidden; /* Pour cacher tout contenu débordant */
}

.titre-jeu {
    position: absolute;
    left: 0;
    margin: 0; /* Enlevez l'espace autour du texte */
    color: white; /* Couleur du texte */
    font-size: 18px; /* Taille de la police */
    font-weight: bold; /* Poids de la police */
}

.tag-container {
    position: relative; /* Retour à la position relative pour le conteneur */
    display: flex; /* Utilisez flexbox pour les aligner horizontalement */
    gap: 10px; /* Espace entre les tags */
}

.tag-categorie,
.tag-categorie2 {
    margin-top: 140px; /* Supprimez la marge pour éviter l'espacement supplémentaire */
    margin-left: 10px;
    padding: 10px 20px; /* Ajoutez un espace intérieur aux tags */
    font-size: 16px; /* Taille de la police */
    font-weight: 400; /* Poids de la police */
    border-radius: 10px; /* Arrondi des coins */
    font-family: "Avenir", sans-serif; /* Police de caractères */
    color: white; /* Couleur du texte */
    background-color: #323232cc; /* Couleur de fond avec transparence */
    text-decoration: none !important; /* Supprime le soulignement */
}

.tag-categorie {
    background-color: #323232cc; /* Couleur de fond avec transparence */
}

.tag-categorie2 {
    background-color: #323232cc; /* Couleur de fond avec transparence */
}

.cases.personal a,
.cases.professional a {
    text-decoration: none; /* Supprime le soulignement des liens */
}

.titre-jeu {
    bottom: 0px; /* Ajoute un espace supplémentaire entre les deux textes */
    width: 100%; /* Prend toute la largeur de .case-fond */
    background-color: black; /* couleur de fond avec transparence */
    padding: 20px; /* Espacement à l'intérieur du titre */
    box-sizing: border-box; /* Inclut le padding dans la largeur */
    text-align: center; /* Centre le texte horizontalement */
    font-family: "Poppins", sans-serif !important;
    font-size: 20px !important;
    font-weight: 650 !important;
}

.case-fond::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0); /* Couleur de fond transparente */
    transition: background-color 0.3s ease; /* Transition de couleur */
    z-index: 1; /* Place la pseudo-classe au-dessus du contenu */
}

.case-fond:hover::before {
    background-color: rgb(244, 237, 231, 0.6); /* Couleur de fond semi-transparente lors du survol */
}

.text-hover {
    display: block; /* Affiche le texte par défaut */
    position: absolute;
    top: 50%; /* Centre le texte verticalement */
    left: 50%; /* Centre le texte horizontalement */
    transform: translate(-50%, -50%);
    color: black;
    font-size: 25px;
    opacity: 0; /* Rendre le texte complètement transparent */
    visibility: hidden; /* Cacher le texte */
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    transition: opacity 0.3s ease, visibility 0.3s ease; /* Ajouter une transition pour l'opacité et la visibilité */
}

.case-fond:hover .text-hover {
    opacity: 1; /* Rendre le texte visible */
    visibility: visible; /* Rendre le texte visible */
    z-index: 10;
}

.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 70px;
    height: 70px;
    background-color: #004efe ;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    font-size: 24px;
    z-index: 1000; /* Au-dessus des autres éléments */
    opacity: 0; /* Commencer avec une opacité de 0 */
    visibility: hidden; /* Masquer l'élément */
    transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
    box-shadow: rgba(0, 0, 0, 0.459) 0 0 10px;
}

.back-to-top.show {
    opacity: 1; /* Opacité pleine lorsqu'affiché */
    visibility: visible; /* Rendre l'élément visible */
}

.back-to-top:hover {
    background-color: #00257a;
}

.back-to-top i {
    font-size: 24px;
}

.footer-container {
    margin-top: 80px;
    background-color: #f4ede7;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 100%;
    position: relative;
    bottom: 0;
    left: 0;
    font-family: "Poppins", sans-serif;
}

.footer-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.footer-left h2, .footer-left p {
    margin: 5px 0;
    margin-left: 50px;
}

.footer-right p {
    margin: 5px 0;
}

.social-icons2 {
    margin-right: 150px;
    display: flex;
    gap: 5px;
}

.social-circle2 {
    width: 100px;
    height: 100px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-circle2 img {
    width: 70px;
    height: 70px;
}

.footer-prenom-nom {
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 800;
    color: #202020;
}

.footer-email {
    font-size: 18px;
    color: #202020;
}

/* Styles pour le dropdown */
.dropdown .dropbtn {
    cursor: pointer;
}

.dropdown-content {
    margin-top: 20px; /* Augmente la marge en haut */
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-left: -95px; /* Ajuste cette valeur selon le décalage désiré */
    border-radius: 8px; /* Ajoute des bords arrondis */
    transition: background-color 0.3s ease; /* Transition pour la couleur de fond */
    
    transition: color 0.3s ease; /* Transition pour la couleur de fond */
}

.dropdown-content a {
    color: #202020;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-radius: 8px; /* Ajoute des bords arrondis aux liens */
    transition: background-color 0.3s ease; /* Transition pour la couleur de fond */
    transition: color 0.3s ease; /* Transition pour la couleur de fond */
}

.dropdown-content a:hover {
    color: white;
    background-color: #323232  ;
}

.dropdown:hover .dropdown-content,
.dropdown-content:hover {
    display: block;
}

.texte-dropdown {
    z-index: 100000;
}

.h2-boite-box {
    color: #202020;
    font-family: "Poppins", sans-serif;
    font-size: 30px;
    margin-top: 100px;
    margin-left: -160px;
}

.cases {
    display: none;
}

.cases.show {
    display: block;
}

@media (max-width: 1500px) {
    body {
        margin: 0;
        background-color: white;
    }
    
    html::-webkit-scrollbar {
        display: visible;
        }
    header {
        background-color: #f4ede7;
        color: #202020;
        padding: 30px 0;
        font-family: 'Avenir', sans-serif;
    }
    
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0;
        padding: 0 30px;
    }
    
    .project-name {
        font-size: 30px;
        text-transform: uppercase;
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        color: #202020;
    }
    
    .navigation ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
    }
    
    .navigation li {
        margin-left: 20px;
    }
    
    .navigation a {
        color: #202020;
        text-decoration: none;
        font-size: 18px;
        transition: color 0.3s;
    }
    
    .navigation a:hover {
        color: #474747;
    }
    
    .slider {
        position: absolute;
        overflow: hidden;
        width: 100%;
        height: 113.7%; /* Ajustez la hauteur de la diapositive */
        transition: opacity 0.5s ease;
    }
    
    .slider::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(159, 139, 121, 0); /* Initial state is fully transparent */
        transition: background 0.5s ease; /* Transition for background color */
        pointer-events: none; /* Allows clicks to pass through */
    }
    
    .slides {
        display: flex;
        transition: transform 1s ease-in-out;
    }
    
    .slide {
        min-width: 100%;
        transition: transform 0.5s ease;
    }
    
    .slide img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    .rectangle {
        width: 700px; /* Ajustez la largeur selon vos besoins */
        height: auto; /* Ajustez la hauteur selon vos besoins */
        background-color: #f4ede7; /* Couleur de fond noire */
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Ombre autour */
        border-radius: 90px; /* Arrondi des coins */
        margin: auto; /* Centre la div horizontalement */
        margin-top: 150px;
        position: relative; /* Position relative pour positionner les éléments enfants */
        padding-bottom: 50px;
    }
    
    .ligne {
        display: flex; /* Affiche les éléments en ligne */
        align-items: center; /* Centre les éléments verticalement */
        justify-content: center; /* Centre les éléments horizontalement */
        position: relative; /* Position relative pour que les éléments enfants soient positionnés par rapport à elle */
        width: 100%; /* Assure que la ligne occupe toute la largeur du rectangle */
        height: 100%; /* Assure que la ligne occupe toute la hauteur du rectangle */
    }
    
    .cercle {
        width: 120px; /* Diamètre du cercle */
        height: 120px; /* Diamètre du cercle */
        background-color: transparent; /* Couleur de fond blanche */
        border-radius: 50%; /* Transforme en cercle */
        position: relative; /* Fixe la position du cercle */
        top: 0%; /* Position verticale au centre */    
        margin-bottom: 60px;
        transform: translateY(-45%) translateX(30%); /* Centre verticalement et horizontalement */
    }
    
    .cercle img {
        width: 100%; /* Ajuste la largeur de l'image pour qu'elle remplisse le cercle */
        height: auto; /* Ajuste la hauteur de l'image proportionnellement */
        display: block; /* Assure que l'image est affichée en tant que bloc */
        border-radius: 50%; /* Transforme l'image en cercle */
    }
    
    
    .texte-aleatoire {
        color: #202020; /* Couleur du texte */
        margin-top: 35px;
        position: relative; /* Fixe la position du texte */
        align-items: center;
        justify-content: center;
        text-align: center;
        top: 4%; /* Position verticale au centre */
        font-family: 'Avenir', sans-serif;
        font-weight: 500;
        font-size: 16px;
    }
    
    .ligne2 {
        margin-left: 30px;
        margin-right: 30px;
        margin-top: 50px;
    }
    
    .presentation-text {
        position: relative; /* Position relative pour positionner le bouton à l'intérieur */
        overflow: hidden; /* Masque le contenu dépassant */
        max-height: 200px; /* Hauteur maximale initiale */
        transition: max-height 0.5s ease; /* Transition pour l'animation */
        color: #202020;
        font-size: 13px;
        margin-top: -20px;
        margin-left: 40px;
        margin-right: 40px;
        font-family: 'Avenir', sans-serif;
    }
    
    .presentation-text.expanded {
        max-height: none; /* Hauteur maximale illimitée pour afficher tout le texte */
    }
    
    
    .read-more-btn {
        color: #004efe; /* Couleur du texte du bouton */
        border: none; /* Supprime la bordure */
        cursor: pointer; /* Curseur pointer au survol */
        transition: background-color 0.3s; /* Transition pour un effet de survol */
        font-family: "Avenir", sans-serif;
        margin-left: 40px;
        font-size: 15px;
    }
    
    
    
    .typed-cursor {
        color: #004efe;
        margin-left: 1px;
    }
    
    .dynamic-text {
        color: #004efe;
        font-weight: 1000;
        display: inline-block;
    }
    
    .blue-line {
        width: 10%; /* Ajustez cette valeur selon vos besoins */
        height: 2px;
        background-color: #004efe;
        margin: -15px auto; /* Centre la ligne */
    }
    
    .social-icons {
        margin-top: 20px;
        display: flex;
        justify-content: center;
    }
    
    .social-circle {
        width: 40px;
        height: 40px;
        border-radius: 0%;
        background-color: transparent;
        margin: 15px;
    }
    
    .social-circle img {
        width: 100%;
        height: 100%;
        border-radius: 0%;
        cursor: pointer;
    }
    
    .button-container {
        text-align: center; /* Centre les éléments horizontalement */
        font-family: "Avenir", sans-serif;
        font-size: 14px;
        font-weight: 500;
        margin-top: 40px;
        
    }
    
    .cv-button,
    .contact-button {
        margin: 10px; /* Marge entre les boutons */
        padding: 10px 20px; /* Ajoute un peu de marge intérieure */
        background-color: #323232 ; /* Couleur de fond des boutons */
        color: #fff; /* Couleur du texte des boutons */
        border: none; /* Supprime la bordure des boutons */
        border-radius: 5px; /* Arrondi des coins des boutons */
        cursor: pointer; /* Change le curseur au survol */
        transition: background-color 0.3s; /* Transition pour un effet de survol */
        text-decoration: none;
    }
    
    .cv-button:hover,
    .contact-button:hover {
        background-color: #000000 ; /* Couleur de fond des boutons au survol */
    }
    
    .mes-projets {
        margin-top: -250px;
        color: #202020;
        text-align: center; /* Aligne le texte au centre */
    }
    
    
    .bouton-container {
        margin-top: 90px;
        text-align: center; /* Pour centrer les boutons horizontalement */
        font-family: 'Avenir', sans-serif;
        font-weight: 500;
    }
    
    .bouton {
        display: inline-block; /* Pour les afficher en ligne */
        margin: 0 10px; /* Pour ajouter un espace entre les boutons */
        padding: 20px 80px; /* Ajustez la taille du padding selon vos besoins */
        background-color: #323232; /* Couleur de fond des boutons */
        color: #fff; /* Couleur du texte des boutons */
        text-decoration: none; /* Supprime le soulignement du lien */
        border: none; /* Supprime la bordure des boutons */
        border-radius: 15px; /* Arrondi des coins des boutons */
        transition: background-color 0.3s; /* Animation de transition */
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Ombre autour */
        font-size: 25px;
        font-family: "Avenir", sans-serif;
        font-weight: 500;
    }
    
    .bouton:hover {
        background-color: #000000 ; /* Couleur de fond au survol */
    }
    
    .image-container {
        position: relative;
    }
    
    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: transparent;
    }
    
    .titre-mes-projets {
        font-family: 'Poppins', sans-serif;
        font-size: 50px;
        font-weight: 700;
        margin-top: 420px;
    }
    
    .case-fond {
        position: relative;
        width: 500px; /* ajustez la largeur selon vos besoins */
        height: 263px; /* ajustez la hauteur selon vos besoins */
        margin: 30px;
        border-radius: 20px;
        overflow: hidden; /* Pour cacher tout contenu débordant */
    }
    
    .titre-jeu {
        bottom: 0px; /* Ajoute un espace supplémentaire entre les deux textes */
        width: 100%; /* prenne toute la largeur de .case-fond */
        padding: 20px; /* espacement à l'intérieur du titre */
        box-sizing: border-box; /* inclut le padding dans la largeur */
        text-align: center; /* centre le texte horizontalement */
        font-family: "Poppins", sans-serif !important;
        font-size: 20px;
        font-weight: 650 !important;
    }
    
    .colonnes-cases {
        margin-top: 100px;
        display: grid; /* Utilisation de la grille CSS */
        grid-template-columns: repeat(auto-fill, minmax(500px, 540px)); /* Colonnes flexibles */
        gap: 0px; /* Espacement entre les cases */
    }
    
    .cases {
        flex: 0 0 auto; /* Pour que les cases aient une largeur fixe et ne rétrécissent pas */
        margin: 0 100px 40px 40px !important; /* Ajoute de l'espacement vertical (40px) entre les cases */
        position: relative;
        width: 500px; /* Ajustez la largeur selon vos besoins */
        height: 263px; /* Ajustez la hauteur selon vos besoins */
    }
    
    .case-link {
        display: block; /* Assurez-vous que le lien est un bloc */
        width: 100%;
        height: 100%;
        text-decoration: none; /* Supprime le soulignement du lien */
    }
    
    .case-fond {
        position: relative;
        width: 100%; /* Assurez-vous que .case-fond prend toute la largeur du conteneur parent */
        height: 100%; /* Assurez-vous que .case-fond prend toute la hauteur du conteneur parent */
        border-radius: 20px;
        overflow: hidden; /* Pour cacher tout contenu débordant */
    }
    
    .titre-jeu {
        position: absolute;
        left: 0;
        margin: 0; /* Enlevez l'espace autour du texte */
        color: white; /* Couleur du texte */
        font-size: 18px; /* Taille de la police */
        font-weight: bold; /* Poids de la police */
    }
    
    .tag-container {
        position: relative; /* Retour à la position relative pour le conteneur */
        display: flex; /* Utilisez flexbox pour les aligner horizontalement */
        gap: 10px; /* Espace entre les tags */
    }
    
    .tag-categorie,
    .tag-categorie2 {
        margin-top: 140px; /* Supprimez la marge pour éviter l'espacement supplémentaire */
        margin-left: 10px;
        padding: 10px 20px; /* Ajoutez un espace intérieur aux tags */
        font-size: 16px; /* Taille de la police */
        font-weight: 400; /* Poids de la police */
        border-radius: 10px; /* Arrondi des coins */
        font-family: "Avenir", sans-serif; /* Police de caractères */
        color: white; /* Couleur du texte */
        background-color: #323232cc; /* Couleur de fond avec transparence */
        text-decoration: none !important; /* Supprime le soulignement */
    }
    
    .tag-categorie {
        background-color: #323232cc; /* Couleur de fond avec transparence */
    }
    
    .tag-categorie2 {
        background-color: #323232cc; /* Couleur de fond avec transparence */
    }
    
    .cases.personal a,
    .cases.professional a {
        text-decoration: none; /* Supprime le soulignement des liens */
    }
    
    .titre-jeu {
        bottom: 0px; /* Ajoute un espace supplémentaire entre les deux textes */
        width: 100%; /* Prend toute la largeur de .case-fond */
        background-color: black; /* couleur de fond avec transparence */
        padding: 20px; /* Espacement à l'intérieur du titre */
        box-sizing: border-box; /* Inclut le padding dans la largeur */
        text-align: center; /* Centre le texte horizontalement */
        font-family: "Poppins", sans-serif !important;
        font-size: 20px !important;
        font-weight: 650 !important;
    }
    
    .case-fond::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0); /* Couleur de fond transparente */
        transition: background-color 0.3s ease; /* Transition de couleur */
        z-index: 1; /* Place la pseudo-classe au-dessus du contenu */
    }
    
    .case-fond:hover::before {
        background-color: rgb(244, 237, 231, 0.6); /* Couleur de fond semi-transparente lors du survol */
    }
    
    .text-hover {
        display: block; /* Affiche le texte par défaut */
        position: absolute;
        top: 50%; /* Centre le texte verticalement */
        left: 50%; /* Centre le texte horizontalement */
        transform: translate(-50%, -50%);
        color: black;
        font-size: 25px;
        opacity: 0; /* Rendre le texte complètement transparent */
        visibility: hidden; /* Cacher le texte */
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        transition: opacity 0.3s ease, visibility 0.3s ease; /* Ajouter une transition pour l'opacité et la visibilité */
    }
    
    .case-fond:hover .text-hover {
        opacity: 1; /* Rendre le texte visible */
        visibility: visible; /* Rendre le texte visible */
        z-index: 10;
    }
    
    .back-to-top {
        position: fixed;
        bottom: 20px;
        right: 20px;
        width: 70px;
        height: 70px;
        background-color: #004efe ;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        cursor: pointer;
        font-size: 24px;
        z-index: 1000; /* Au-dessus des autres éléments */
        opacity: 0; /* Commencer avec une opacité de 0 */
        visibility: hidden; /* Masquer l'élément */
        transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
        box-shadow: rgba(0, 0, 0, 0.459) 0 0 10px;
    }
    
    .back-to-top.show {
        opacity: 1; /* Opacité pleine lorsqu'affiché */
        visibility: visible; /* Rendre l'élément visible */
    }
    
    .back-to-top:hover {
        background-color: #00257a;
    }
    
    .back-to-top i {
        font-size: 24px;
    }
    
    .footer-container {
        margin-top: 80px;
        background-color: #f4ede7;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 30px;
        padding-bottom: 30px;
        width: 100%;
        position: relative;
        bottom: 0;
        left: 0;
        font-family: "Poppins", sans-serif;
    }
    
    .footer-left {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    
    .footer-right {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    
    .footer-left h2, .footer-left p {
        margin: 5px 0;
        margin-left: 50px;
    }
    
    .footer-right p {
        margin: 5px 0;
    }
    
    .social-icons2 {
        margin-right: 150px;
        display: flex;
        gap: 5px;
    }
    
    .social-circle2 {
        width: 100px;
        height: 100px;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .social-circle2 img {
        width: 70px;
        height: 70px;
    }
    
    .footer-prenom-nom {
        font-size: 30px;
        text-transform: uppercase;
        font-weight: 800;
        color: #202020;
    }
    
    .footer-email {
        font-size: 18px;
        color: #202020;
    }
    
    /* Styles pour le dropdown */
    .dropdown .dropbtn {
        cursor: pointer;
    }
    
    .dropdown-content {
        margin-top: 20px; /* Augmente la marge en haut */
        display: none;
        position: absolute;
        background-color: #ffffff;
        min-width: 100px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        margin-left: -95px; /* Ajuste cette valeur selon le décalage désiré */
        border-radius: 8px; /* Ajoute des bords arrondis */
        transition: background-color 0.3s ease; /* Transition pour la couleur de fond */
        
        transition: color 0.3s ease; /* Transition pour la couleur de fond */
    }
    
    .dropdown-content a {
        color: #202020;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        border-radius: 8px; /* Ajoute des bords arrondis aux liens */
        transition: background-color 0.3s ease; /* Transition pour la couleur de fond */
        transition: color 0.3s ease; /* Transition pour la couleur de fond */
    }
    
    .dropdown-content a:hover {
        color: white;
        background-color: #323232  ;
    }
    
    .dropdown:hover .dropdown-content,
    .dropdown-content:hover {
        display: block;
    }
    
    .texte-dropdown {
        z-index: 100000;
    }
    
    .h2-boite-box {
        color: #202020;
        font-family: "Poppins", sans-serif;
        font-size: 25px;
        margin-top: 100px;
        margin-left: -140px;
    }
    
    .cases {
        display: none;
    }
    
    .cases.show {
        display: block;
    }
}

@media (max-width: 980px) {
    body {
        margin: 0;
        background-color: white;
    }
    
    html::-webkit-scrollbar {
        display: visible;
        }
    header {
        background-color: #f4ede7;
        color: #202020;
        padding: 30px 0;
        font-family: 'Avenir', sans-serif;
    }
    
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0;
        padding: 0 30px;
    }
    
    .project-name {
        font-size: 30px;
        text-transform: uppercase;
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        color: #202020;
    }
    
    .navigation ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
    }
    
    .navigation li {
        margin-left: 20px;
    }
    
    .navigation a {
        color: #202020;
        text-decoration: none;
        font-size: 18px;
        transition: color 0.3s;
    }
    
    .navigation a:hover {
        color: #474747;
    }
    
    .slider {
        position: absolute;
        overflow: hidden;
        width: 100%;
        height: 50.7%; /* Ajustez la hauteur de la diapositive */
        transition: opacity 0.5s ease;
    }
    
    .slider::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(159, 139, 121, 0); /* Initial state is fully transparent */
        transition: background 0.5s ease; /* Transition for background color */
        pointer-events: none; /* Allows clicks to pass through */
    }
    
    .slides {
        display: flex;
        transition: transform 1s ease-in-out;
    }
    
    .slide {
        min-width: 100%;
        transition: transform 0.5s ease;
    }
    
    .slide img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    .rectangle {
        width: 500px; /* Ajustez la largeur selon vos besoins */
        height: auto; /* Ajustez la hauteur selon vos besoins */
        background-color: #f4ede7; /* Couleur de fond noire */
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Ombre autour */
        border-radius: 90px; /* Arrondi des coins */
        margin: auto; /* Centre la div horizontalement */
        margin-top: 150px;
        position: relative; /* Position relative pour positionner les éléments enfants */
        padding-bottom: 50px;
    }
    
    .ligne {
        display: flex; /* Affiche les éléments en ligne */
        align-items: center; /* Centre les éléments verticalement */
        justify-content: center; /* Centre les éléments horizontalement */
        position: relative; /* Position relative pour que les éléments enfants soient positionnés par rapport à elle */
        width: 100%; /* Assure que la ligne occupe toute la largeur du rectangle */
        height: 100%; /* Assure que la ligne occupe toute la hauteur du rectangle */
    }
    
    .cercle {
        width: 120px; /* Diamètre du cercle */
        height: 120px; /* Diamètre du cercle */
        background-color: transparent; /* Couleur de fond blanche */
        border-radius: 50%; /* Transforme en cercle */
        position: relative; /* Fixe la position du cercle */
        top: 0%; /* Position verticale au centre */    
        margin-bottom: 60px;
        transform: translateY(-45%) translateX(30%); /* Centre verticalement et horizontalement */
    }
    
    .cercle img {
        width: 100%; /* Ajuste la largeur de l'image pour qu'elle remplisse le cercle */
        height: auto; /* Ajuste la hauteur de l'image proportionnellement */
        display: block; /* Assure que l'image est affichée en tant que bloc */
        border-radius: 50%; /* Transforme l'image en cercle */
    }
    
    
    .texte-aleatoire {
        color: #202020; /* Couleur du texte */
        margin-top: 35px;
        position: relative; /* Fixe la position du texte */
        align-items: center;
        justify-content: center;
        text-align: center;
        top: 4%; /* Position verticale au centre */
        font-family: 'Avenir', sans-serif;
        font-weight: 500;
        font-size: 16px;
    }
    
    .ligne2 {
        margin-left: 30px;
        margin-right: 30px;
        margin-top: 50px;
    }
    
    .presentation-text {
        position: relative; /* Position relative pour positionner le bouton à l'intérieur */
        overflow: hidden; /* Masque le contenu dépassant */
        max-height: 200px; /* Hauteur maximale initiale */
        transition: max-height 0.5s ease; /* Transition pour l'animation */
        color: #202020;
        font-size: 13px;
        margin-top: -20px;
        margin-left: 40px;
        margin-right: 40px;
        font-family: 'Avenir', sans-serif;
    }
    
    .presentation-text.expanded {
        max-height: none; /* Hauteur maximale illimitée pour afficher tout le texte */
    }
    
    
    .read-more-btn {
        color: #004efe; /* Couleur du texte du bouton */
        border: none; /* Supprime la bordure */
        cursor: pointer; /* Curseur pointer au survol */
        transition: background-color 0.3s; /* Transition pour un effet de survol */
        font-family: "Avenir", sans-serif;
        margin-left: 40px;
        font-size: 15px;
    }
    
    
    
    .typed-cursor {
        color: #004efe;
        margin-left: 1px;
    }
    
    .dynamic-text {
        color: #004efe;
        font-weight: 1000;
        display: inline-block;
    }
    
    .blue-line {
        width: 10%; /* Ajustez cette valeur selon vos besoins */
        height: 2px;
        background-color: #004efe;
        margin: -15px auto; /* Centre la ligne */
    }
    
    .social-icons {
        margin-top: 20px;
        display: flex;
        justify-content: center;
    }
    
    .social-circle {
        width: 40px;
        height: 40px;
        border-radius: 0%;
        background-color: transparent;
        margin: 15px;
    }
    
    .social-circle img {
        width: 100%;
        height: 100%;
        border-radius: 0%;
        cursor: pointer;
    }
    
    .button-container {
        text-align: center; /* Centre les éléments horizontalement */
        font-family: "Avenir", sans-serif;
        font-size: 14px;
        font-weight: 500;
        margin-top: 40px;
        
    }
    
    .cv-button,
    .contact-button {
        margin: 10px; /* Marge entre les boutons */
        padding: 10px 20px; /* Ajoute un peu de marge intérieure */
        background-color: #323232 ; /* Couleur de fond des boutons */
        color: #fff; /* Couleur du texte des boutons */
        border: none; /* Supprime la bordure des boutons */
        border-radius: 5px; /* Arrondi des coins des boutons */
        cursor: pointer; /* Change le curseur au survol */
        transition: background-color 0.3s; /* Transition pour un effet de survol */
        text-decoration: none;
    }
    
    .cv-button:hover,
    .contact-button:hover {
        background-color: #000000 ; /* Couleur de fond des boutons au survol */
    }
    
    .mes-projets {
        margin-top: -250px;
        color: #202020;
        text-align: center; /* Aligne le texte au centre */
    }
    
    
    .bouton-container {
        margin-top: 90px;
        text-align: center; /* Pour centrer les boutons horizontalement */
        font-family: 'Avenir', sans-serif;
        font-weight: 500;
    }
    
    .bouton {
        display: inline-block; /* Pour les afficher en ligne */
        margin: 0 10px; /* Pour ajouter un espace entre les boutons */
        padding: 15px 30px; /* Ajustez la taille du padding selon vos besoins */
        background-color: #323232; /* Couleur de fond des boutons */
        color: #fff; /* Couleur du texte des boutons */
        text-decoration: none; /* Supprime le soulignement du lien */
        border: none; /* Supprime la bordure des boutons */
        border-radius: 15px; /* Arrondi des coins des boutons */
        transition: background-color 0.3s; /* Animation de transition */
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Ombre autour */
        font-size: 18px;
        font-family: "Avenir", sans-serif;
        font-weight: 500;
    }
    
    .bouton:hover {
        background-color: #000000 ; /* Couleur de fond au survol */
    }
    
    .image-container {
        position: relative;
    }
    
    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: transparent;
    }
    
    .titre-mes-projets {
        font-family: 'Poppins', sans-serif;
        font-size: 50px;
        font-weight: 700;
        margin-top: 420px;
    }
    
    .case-fond {
        position: relative;
        width: 500px; /* ajustez la largeur selon vos besoins */
        height: 263px; /* ajustez la hauteur selon vos besoins */
        margin: 30px;
        border-radius: 20px;
        overflow: hidden; /* Pour cacher tout contenu débordant */
    }
    
    .titre-jeu {
        bottom: 0px; /* Ajoute un espace supplémentaire entre les deux textes */
        width: 100%; /* prenne toute la largeur de .case-fond */
        padding: 20px; /* espacement à l'intérieur du titre */
        box-sizing: border-box; /* inclut le padding dans la largeur */
        text-align: center; /* centre le texte horizontalement */
        font-family: "Poppins", sans-serif !important;
        font-size: 20px;
        font-weight: 650 !important;
    }
    
    .colonnes-cases {
        margin-top: 100px;
        display: grid; /* Utilisation de la grille CSS */
        grid-template-columns: repeat(auto-fill, minmax(500px, 540px)); /* Colonnes flexibles */
        gap: 0px; /* Espacement entre les cases */
    }
    
    .cases {
        flex: 0 0 auto; /* Pour que les cases aient une largeur fixe et ne rétrécissent pas */
        margin: 0 100px 40px 0px !important; /* Ajoute de l'espacement vertical (40px) entre les cases */
        position: relative;
        width: 500px; /* Ajustez la largeur selon vos besoins */
        height: 263px; /* Ajustez la hauteur selon vos besoins */
    }
    
    .case-link {
        display: block; /* Assurez-vous que le lien est un bloc */
        width: 100%;
        height: 100%;
        text-decoration: none; /* Supprime le soulignement du lien */
    }
    
    .case-fond {
        position: relative;
        width: 100%; /* Assurez-vous que .case-fond prend toute la largeur du conteneur parent */
        height: 100%; /* Assurez-vous que .case-fond prend toute la hauteur du conteneur parent */
        border-radius: 20px;
        overflow: hidden; /* Pour cacher tout contenu débordant */
    }
    
    .titre-jeu {
        position: absolute;
        left: 0;
        margin: 0; /* Enlevez l'espace autour du texte */
        color: white; /* Couleur du texte */
        font-size: 18px; /* Taille de la police */
        font-weight: bold; /* Poids de la police */
    }
    
    .tag-container {
        position: relative; /* Retour à la position relative pour le conteneur */
        display: flex; /* Utilisez flexbox pour les aligner horizontalement */
        gap: 10px; /* Espace entre les tags */
    }
    
    .tag-categorie,
    .tag-categorie2 {
        margin-top: 140px; /* Supprimez la marge pour éviter l'espacement supplémentaire */
        margin-left: 10px;
        padding: 10px 20px; /* Ajoutez un espace intérieur aux tags */
        font-size: 16px; /* Taille de la police */
        font-weight: 400; /* Poids de la police */
        border-radius: 10px; /* Arrondi des coins */
        font-family: "Avenir", sans-serif; /* Police de caractères */
        color: white; /* Couleur du texte */
        background-color: #323232cc; /* Couleur de fond avec transparence */
        text-decoration: none !important; /* Supprime le soulignement */
    }
    
    .tag-categorie {
        background-color: #323232cc; /* Couleur de fond avec transparence */
    }
    
    .tag-categorie2 {
        background-color: #323232cc; /* Couleur de fond avec transparence */
    }
    
    .cases.personal a,
    .cases.professional a {
        text-decoration: none; /* Supprime le soulignement des liens */
    }
    
    .titre-jeu {
        bottom: 0px; /* Ajoute un espace supplémentaire entre les deux textes */
        width: 100%; /* Prend toute la largeur de .case-fond */
        background-color: black; /* couleur de fond avec transparence */
        padding: 20px; /* Espacement à l'intérieur du titre */
        box-sizing: border-box; /* Inclut le padding dans la largeur */
        text-align: center; /* Centre le texte horizontalement */
        font-family: "Poppins", sans-serif !important;
        font-size: 20px !important;
        font-weight: 650 !important;
    }
    
    .case-fond::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0); /* Couleur de fond transparente */
        transition: background-color 0.3s ease; /* Transition de couleur */
        z-index: 1; /* Place la pseudo-classe au-dessus du contenu */
    }
    
    .case-fond:hover::before {
        background-color: rgb(244, 237, 231, 0.6); /* Couleur de fond semi-transparente lors du survol */
    }
    
    .text-hover {
        display: block; /* Affiche le texte par défaut */
        position: absolute;
        top: 50%; /* Centre le texte verticalement */
        left: 50%; /* Centre le texte horizontalement */
        transform: translate(-50%, -50%);
        color: black;
        font-size: 25px;
        opacity: 0; /* Rendre le texte complètement transparent */
        visibility: hidden; /* Cacher le texte */
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        transition: opacity 0.3s ease, visibility 0.3s ease; /* Ajouter une transition pour l'opacité et la visibilité */
    }
    
    .case-fond:hover .text-hover {
        opacity: 1; /* Rendre le texte visible */
        visibility: visible; /* Rendre le texte visible */
        z-index: 10;
    }
    
    .back-to-top {
        position: fixed;
        bottom: 20px;
        right: 20px;
        width: 70px;
        height: 70px;
        background-color: #004efe ;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        cursor: pointer;
        font-size: 24px;
        z-index: 1000; /* Au-dessus des autres éléments */
        opacity: 0; /* Commencer avec une opacité de 0 */
        visibility: hidden; /* Masquer l'élément */
        transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
        box-shadow: rgba(0, 0, 0, 0.459) 0 0 10px;
    }
    
    .back-to-top.show {
        opacity: 1; /* Opacité pleine lorsqu'affiché */
        visibility: visible; /* Rendre l'élément visible */
    }
    
    .back-to-top:hover {
        background-color: #00257a;
    }
    
    .back-to-top i {
        font-size: 24px;
    }
    
    .footer-container {
        margin-top: 80px;
        background-color: #f4ede7;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 30px;
        padding-bottom: 30px;
        width: 100%;
        position: relative;
        bottom: 0;
        left: 0;
        font-family: "Poppins", sans-serif;
    }
    
    .footer-center {
        margin-left: -200px;
        width: 200px
    }

    .footer-left {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    
    .footer-right {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    
    .footer-left h2, .footer-left p {
        margin: 5px 0;
        margin-left: 50px;
    }
    
    .footer-right p {
        margin: 5px 0;
    }
    
    .social-icons2 {
        margin-right: 0px;
        display: flex;
        gap: 5px;
    }
    
    .social-circle2 {
        width: 60px;
        height: 60px;
        overflow: hidden;
        display: flex;
        align-items: right;
        justify-content: right;
    }
    
    .social-circle2 img {
        width: 40px;
        height: 40px;
    }
    
    .footer-prenom-nom {
        font-size: 30px;
        text-transform: uppercase;
        font-weight: 800;
        color: #202020;
    }
    
    .footer-email {
        font-size: 15px;
        color: #202020;
    }
    
    /* Styles pour le dropdown */
    .dropdown .dropbtn {
        cursor: pointer;
    }
    
    .dropdown-content {
        margin-top: 20px; /* Augmente la marge en haut */
        display: none;
        position: absolute;
        background-color: #ffffff;
        min-width: 100px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        margin-left: -95px; /* Ajuste cette valeur selon le décalage désiré */
        border-radius: 8px; /* Ajoute des bords arrondis */
        transition: background-color 0.3s ease; /* Transition pour la couleur de fond */
        
        transition: color 0.3s ease; /* Transition pour la couleur de fond */
    }
    
    .dropdown-content a {
        color: #202020;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        border-radius: 8px; /* Ajoute des bords arrondis aux liens */
        transition: background-color 0.3s ease; /* Transition pour la couleur de fond */
        transition: color 0.3s ease; /* Transition pour la couleur de fond */
    }
    
    .dropdown-content a:hover {
        color: white;
        background-color: #323232  ;
    }
    
    .dropdown:hover .dropdown-content,
    .dropdown-content:hover {
        display: block;
    }
    
    .texte-dropdown {
        z-index: 100000;
    }
    
    .h2-boite-box {
        color: #202020;
        font-family: "Poppins", sans-serif;
        font-size: 25px;
        margin-top: 100px;
        margin-left: -140px;
    }
    
    .cases {
        display: none;
    }
    
    .cases.show {
        display: block;
    }
}